<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>new teacher</title>
</head>
<body>
<form th:method="post" th:action="@{/teacher/new}" th:object="${teacher}">
    <label for="name"> Enter your name</label><input type="text" name="name" id="name">
    <label for="surname"> Enter your surname</label><input type="text" name="surname" id="surname">
    <label for="email"> Enter your email</label><input type="email" name="email" id="email">
    <label for="password">Enter your  password </label><input type="password" name="password" id="password">
    <br>
    <select id="groups" multiple="multiple" name="groups">
        <option th:each="group:${groups}"
                th:value="${group.getId()}"
                th:text="${group.getName()}">
        </option>
    </select>
    <input type="submit" value="Register!">
</form>
</body>
</html>