<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>teacher</title>
</head>
<body>
<p th:text="name + ${teacher.getName()}">name</p>
<p th:text="surname + ${teacher.getSurname()}">surname</p>
<br>
<p>it is all my group</p>
<div th:each="subgroup : ${subgroupSet}">
    <a th:href="@{/subgroup/{id}(id=${subgroup.getId()})}" th:text="${subgroup.getName()}">subgroup</a>
</div>
<br>
<a th:href="@{/teacher/{id}/edit(id=${teacher.getId()})}">update teacher</a>
<form th:method="DELETE" th:action="@{/teacher/{id}(id=${teacher.getId()})}">
    <input type="submit" value="delete">
</form>
<a href="/logout">Logout!</a>

</body>
</html>