<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>lesson</title>
</head>
<body>
    <li th:each="entry: ${studentGradesMap}">
        <form th:method="post" th:action="@{/subgroup/{subgroupId}/student/{studentId}/lesson/{lessonId}/addGrade
        (subgroupId=${entry.key.getSubgroup().id}, studentId=${entry.key.getId()}, lessonId=${lesson.getId()})}">

        <span th:text="${entry.key}"></span> = <span th:text="${entry.value}"></span>
    <label for="grade">add grade</label><input type="number" name="grade" id="grade">
    <input type="submit" value="Add!">
        </form>
    </li>
</body>
</html>